html, body
    width 100%
    height 100%
    overflow hidden

body
    width 100%
    padding 0
    margin 0

#wrapper
    width 100%
    height 100%

#destination-chooser
    -moz-border-radius 7px
    -webkit-border-radius 7px
    border-radius 7px
    position absolute
    top 10px
    left 50px
    z-index 5
    padding 0

#destination-chooser .btn {
  display block
  padding 5px 10px
  background rgba(0, 160, 0, 0.75)
  -moz-border-radius 7px
  -webkit-border-radius 7px
  border-radius 7px
  height: 39px
  line-height 33px
  font-weight bold
  font-size 1.5em
  text-decoration none
  color #fff
  text-shadow 2px 2px 0px rgba(0,0,0,.25)
  box-shadow inset 0 -5px 0px rgba(0,0,0,.15)
  border 2px rgba(0,0,0,.25) solid
}
